{% extends 'base.html' %}
{% block content %}
    <style>
        h1 {
            color: red;
            font-weight: bold;
            text-align: center;
        }
        .card-title-name {
            color: red;
        }
    </style>

    <h1>Announcements</h1>

    <div class="container">
        <div class="row d-flex align-items-stretch">
            {% for announcement in announcements %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <img src="{{ announcement.image.url }}" alt="{{ announcement.title }}" class="card-img-top img-fluid" style="max-height: 200px;">
                        <h3 class="card-title-name">{{ announcement.title }}</h3>
                        <h6 class="card-title">Цена: {{ announcement.price }} сом</h6>
                        <a href="{% url 'announcement_detail' pk=announcement.pk %}" class="btn btn-danger">Подробнее</a>
                        <a href="{% url 'announcement_update' pk=announcement.pk %}" class="btn btn-success">Обновить</a>
                        <a href="{% url 'announcement_delete' pk=announcement.pk %}" class="btn btn-secondary">Удалить</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
